

.productCardContent {
     padding: 0px 20px 10px 20px;
    background: transparent;
    box-shadow: 5px 30px 56.1276px rgb(55, 55, 55 / 12%);
    border-radius: 10px;
    position: relative;
    transition: all .35s ease;
}


.productsImg {
    border-radius: 10px;
    height: 260px;
    width: 260px;
    min-height: 226px;
    min-width: 226px;
    padding: 8px;
   
    
}

.productPriceContainer {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 12px!important;
    line-height: 16px!important;
}

.productPrice {
    color: rgb(255, 255, 255);
    background: rgb(204, 12, 57);
    border-radius: 2px;
    padding: 4px 6px;
    position: relative;
}

@media (max-width: 560px) {
    .productsImage {
        width: 90%;
        height: auto;
    }
    
}

.productsGrid {
    padding: 100px 8%;
}

.productsList {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    gap: 2rem;
    align-items: center;
    text-align: center;
    cursor: pointer;
    
}

.productCardContent{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px;
    border: 1px solid rgb(238, 238, 238);
    transition: box-shadow 275ms cubic-bezier(0.46, 0.03, 0.52, 0.96) 0s;

    padding: 0px 20px 10px 20px;

    
}

@media (max-width: 560px) {
    .productsGrid {
        grid-template-columns: 100%;
    }
    
}