.productsImg {
    border-radius: 10px;
    background-color: azure;
    height: 320px;
    width: 320px;
    min-height: 320px;
    min-width: 320px;
}

@media (max-width: 560px) {
    .productsImage {
        width: 90%;
        height: auto;
    }
    
}